table
{
    background: #ffffb3;
    text-align: center;
    width:      94%;
    margin:     2%;
    border:     1pt solid royalblue;
}

caption
{
    font-size:   120%;
    font-weight: bold;
}

thead, tfoot
{
    background: darkblue;
    color:      white;
    font-size:  110%;
    padding:    5pt;
}

td, th
{
    border: 1px solid royalblue;
}

tfoot a
{
    color: white;
}

.parzysty
{
    background: white;
}